.mySwitch {
    padding: 10px 20px;
    background-color: #d9e1ff;
    border-radius: 100px;
    width: fit-content;
    margin: 10px 0px;

    .text {
        font-size: 16px;
        font-weight: 600;
        font-style: italic;
    }
}