.ticketsPage {
  padding: 80px 0px;
    background-color: #fff;
  
    .pageTitle {
      font-size: 32px;
      font-weight: 700;
      color: #1c093c;
      margin-bottom: 32px;
    }

    .myTickets {

      .filters {
        margin-bottom: 50px;
      }
    }
  }