.my-sidebar-menu {
    background: transparent !important;
    border: none;
    border-inline-end: 0px!important;
  
    .ant-menu-item {
      margin-bottom: 8px;
      border-radius: 10px;
      transition: background 0.3s, color 0.3s;
      background: #FFF;
  
      &:hover {
        background: rgba(255, 165, 0, 0.1);
      }
    }
  
    .ant-menu-item-selected {
      background: rgb(0, 51, 255) !important;
      color: #ffffff !important;
  
      .ant-menu-item-icon {
        color: #ffffff !important;
      }
    }
  
    .ant-menu-item-icon {
      font-size: 18px;
    }
  
    .ant-menu-title-content {
      font-weight: 500;
      font-size: 14px;
    }
  }
  