.eventInfoStep {

    .steptitle {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 50px;
    }

    .eventForm {

        .formBlock {
                padding: 20px 20px 45px 20px;
                border: 2px solid #bbbbbb;
                border-radius: 10px;
                background: #fff;
                overflow: hidden;
                transition: border-color 0.2s ease;
                position: relative;
                
                &:hover {
                    border: 2px solid #7d7d7d;
                }

                &.validateError {
                    border: 2px solid #ff4d4f;
                    background: rgba(255, 217, 217, 0.293);
                }
                
                &.validateSuccess {
                    border-color: #52c41a;
                }

                .bgImageBlockIcons {
                    position: absolute;
                    right: -100px;
                    bottom: -170px;
                    max-width: 400px;
                    opacity: 0.4;
                    z-index: 1;
                }
        
                .header {
                    margin-bottom: 20px;

                    .title {
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 5px;
                        color: #000000;
                    }
            
                    .description {
                        display: block;
                        color: #666;
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }
        
                .input {
                    margin-bottom: 0px;

                    .addImages {
                        margin-bottom: 10px;
                        max-width: 800px;
                    }
                    
                    .formElement {
                        margin-bottom: 0;
                    }

                    &.location {
                        width: 100%;
                    }
                }
        }
    }
}