.authLayout {
    height: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;
        overflow: visible;

        .logo {
            display: block;
            max-width: 200px;
            padding: 18px;
            background: #FFF;
            border-radius: 57px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            overflow: visible;
        }

        .backLink {
            font-size: 16px;
        }
    }

    .main {
        padding: 20px 0px;
        flex: 1 0 auto;
        background: #f5f5f5;
    }
}