.createEventPage {
    // height: 100vh;

    .formContent {
        margin-bottom: 70px;
    }

    .formActions {
        margin-bottom: 30px;

        .buttonSave {
            padding: 10px 20px;
            background: rgb(215, 108, 15);

            &:hover {
                background: rgb(196, 99, 14) !important;
            }
        }
    }
}