  .card {
      display: block;
      padding: 16px;
      transition: transform 0.2s ease-in-out;
      border-bottom: 1px solid #ecececcd;
      max-width: 1000px;

      &:hover {
          transform: translateY(-4px);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      }

      .eventInfo {
          display: flex;
          flex-direction: column;
          width: 70%;

          .title {
              font-size: 18px;
              font-weight: 600;
              color: #1c093c;
              max-width: 450px;
              margin-bottom: 10px;
          }

          .date {
              color: #23541d;
              font-weight: 500;
              margin-bottom: 10px;
          }

          .location {
            display: flex;
            align-items: center;
            gap: 15px;
              font-size: 14px;
              font-weight: 500;
              line-height: 1.4;
              color: gray;
              max-width: 340px;
              margin-bottom: 10px;
          }

          .price {
              font-size: 14px;
              font-weight: 600;
              margin-top: 4px;
              display: inline-block;
          }

          .eventActions {

              .image {
                  border-radius: 8px;
                  object-fit: cover;
              }

              .actions {
                margin-left: auto;
                  margin-top: 12px;
                  display: flex;
                  justify-content: space-between;
              }
          }
      }
  }